<!DOCTYPE html>
<html>
  <head>
    <title><%= category ? "Edit Category" : "New Category" %></title>
  </head>
  <body>
    <h1><%= category ? "Edit Category" : "New Category" %></h1>

    <form
      action="<%= category ? `/categories/${category.id}/edit` : '/categories/new' %>"
      method="POST"
    >
      <label>Name:</label>
      <input
        type="text"
        name="category"
        value="<%= category ? category.category_name : '' %>"
        required
      />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
